.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    height: auto;
}

#form{
    display:flex;
    flex-direction:column;
    gap: 1rem;
}

.add_btn, .cancel_btn{
    width: 60px;
}

.add_btn{
    background-color: aqua;
}

